In [1]:
tax = 12.5/100
price = 100.50

In [2]:
price * tax

12.5625

In [3]:
_

12.5625

In [4]:
price + _

113.0625

In [5]:
_

113.0625

In [6]:
3+5j

(3+5j)

In [7]:
print(_)

(3+5j)

In [8]:
 print('C:\some\name')

C:\some
ame

In [11]:
print(r' C:\some\name')

 C:\some\name

In [1]:
word = python

NameError: name 'python' is not defined

In [2]:
word = 'python'

In [3]:
word[0]

'p'

In [4]:
word[-0]

'p'

In [5]:
word[-1]

'n'

In [6]:
word[0:2]

'py'

In [7]:
word[2:5]

'tho'

In [8]:
i = 1
i = i++ + i++

SyntaxError: invalid syntax (<ipython-input-8-5d6f53bc5b70>, line 2)

In [9]:
i

NameError: name 'i' is not defined

In [10]:
i= 1

In [11]:
i = i++ + i++

SyntaxError: invalid syntax (<ipython-input-11-d1605a0f8f77>, line 1)

In [15]:
# Fibonacci Series
a, b = 0, 1
while b < 10 : 
    print (b, end = '..')
    a, b = b, a + b

1..1..2..3..5..8..

In [16]:
range(5, 10)

range(5, 10)

In [19]:
range(0, 3, 5, 6)

TypeError: range expected at most 3 arguments, got 4

In [20]:
a = ['mary', 'had', 'a', 'little', 'pig']

In [22]:
for i in range(len(a)) : 
    print (i, a[i])

0 mary
1 had
2 a
3 little
4 pig

In [23]:
for i in range(5, 10): 
    print(i)

5
6
7
8
9

In [24]:
for i in range(-10, 10, 3) : print (i)

-10
-7
-4
-1
2
5
8

In [25]:
print(range(10))

range(0, 10)

In [26]:
print(range(-10, 10, 3))

range(-10, 10, 3)

In [27]:
list(range(5))

[0, 1, 2, 3, 4]

In [38]:
for n in range(2, 10):
    for x in range(2, n): 
        if n%x == 0:
            print(n, 'equals', x, '*', n//x)
            break;
        else:
            print(n, 'check')
    else:
        print(n, 'is a prime number')

2 is a prime number
3 check
3 is a prime number
4 equals 2 * 2
5 check
5 check
5 check
5 is a prime number
6 equals 2 * 3
7 check
7 check
7 check
7 check
7 check
7 is a prime number
8 equals 2 * 4
9 check
9 equals 3 * 3

In [39]:
for num in range(2, 10): 
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found a number", num)

Found an even number 2
Found a number 3
Found an even number 4
Found a number 5
Found an even number 6
Found a number 7
Found an even number 8
Found a number 9

In [42]:
def ask_ok(prompt, retries = 4, complaint = 'Yes or No, please') :
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes') : 
            return True
        if ok in ('n', 'no', 'nop', 'nope') : 
            return False
        retries = retries - 1
        if retries < 0: 
            raise OSError('uncooperative user')
        print(complaint)

In [43]:
def(ok)

SyntaxError: invalid syntax (<ipython-input-43-ce65db15ba21>, line 1)

In [46]:
ask_ok('do you really want to quit?')

do you really want to quit?s
Yes or No, please
do you really want to quit?
Yes or No, please
do you really want to quit?s
Yes or No, please
do you really want to quit?s
Yes or No, please
do you really want to quit?s

OSError: uncooperative user

In [47]:
i = 5
def f(arg = i): 
    print(arg)
f()

5

In [48]:
def f(a, L = []) :
    L.append(a)
    return L

In [49]:
f(1)

[1]

In [50]:
print(f(1))

[1, 1]

In [51]:
print(f(2))

[1, 1, 2]

In [52]:
print(f(3))

[1, 1, 2, 3]

In [53]:
def f(a, L = None) :
    if L is None: 
        L = []
    L.append(a)
    return L

In [54]:
print(f(1))
print(f(2))
print(f(3))

[1]
[2]
[3]

In [55]:
(43).__add__(21)

64

In [56]:
myList = [1, 3, True, 6.5]

In [57]:
myList[0] = 2**10

In [58]:
myList

[1024, 3, True, 6.5]

In [59]:
myName = 'David'

In [60]:
myName[0] = 'X'

TypeError: 'str' object does not support item assignment

In [61]:
myName

'David'

In [62]:
myName[0] = 'X'

TypeError: 'str' object does not support item assignment

In [63]:
myName.upper()

'DAVID'

In [65]:
myName.center(10)

'  David   '

In [67]:
myName.split('v')

['Da', 'id']

In [68]:
def function(a):
    pass

In [69]:
function(5)

In [70]:
function(0, a= 0)

TypeError: function() got multiple values for argument 'a'

In [74]:
def cheeseshop(kind, *arguments, **keywords) :
    print("Do you have any", kind, "?")
    print("I'm sorry, we're all out of", kind)
    for arg in arguments: 
        print(arg)
    print("-" * 40)
    keys = sorted(keywords.keys())
    for kw in keys:
        print(kw, ":", keywords[kw])

In [75]:
cheeseshop("Limburger", "It's very runny, sir.",
          "It's really very, VERY runny, sir. ",
          shopkeeper = "Michael Palin", 
          client = "John Cleese", 
          sketch = "Cheese Shop Sketch")

Do you have any Limburger ?
I'm sorry, we're all out of Limburger
It's very runny, sir.
It's really very, VERY runny, sir.
----------------------------------------
client : John Cleese
shopkeeper : Michael Palin
sketch : Cheese Shop Sketch

In [76]:
def concat(*args, sep = '/') :
    return sep.join(args)

In [77]:
concat(1, 2, 3, 4, 5)

TypeError: sequence item 0: expected str instance, int found

In [79]:
concat("1", "2", "3", "4", sep = ".")

'1.2.3.4'

In [80]:
args = [3, 6]

In [81]:
range(args)

TypeError: 'list' object cannot be interpreted as an integer

In [82]:
range(*args)

range(3, 6)

In [83]:
list(_)

[3, 4, 5]

In [99]:
def parrot(voltage, state = 'a stiff', action = 'voom') :
    print("。。。", action, end = '\n')
    print("...", voltage, "...", end = '\n')
    print("...", state, "!")

In [100]:
d = {"voltage": "four million", "state": "bleedin' demised", "action": "VOOM"}

In [101]:
parrot(**d)

。。。 VOOM
... four million ...
... bleedin' demised !

In [102]:
def make_incrementor(n) : 
    return lambda x: x+n

In [103]:
make_incrementor

In [104]:
f = make_incrementor(52)

In [105]:
f

In [106]:
f(0)

52

In [107]:
 a = [66.25, 333, 333, 1, 1234.5]

In [108]:
print(a.count(333), a.count(66.25), a.count('x'))

2 1 0

In [109]:
a.insert(2, -1)

In [110]:
print(a)

[66.25, 333, -1, 333, 1, 1234.5]

In [111]:
a.append(333)

In [112]:
a

[66.25, 333, -1, 333, 1, 1234.5, 333]

In [113]:
a.index(333)

1

In [114]:
a.remove(333)

In [115]:
a

[66.25, -1, 333, 1, 1234.5, 333]

In [116]:
a.index(333)

2

In [117]:
a.sort()

In [118]:
a

[-1, 1, 66.25, 333, 333, 1234.5]

In [119]:
a.pop()

1234.5

In [120]:
a

[-1, 1, 66.25, 333, 333]

In [121]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])

In [122]:
queue.append("Jack")

In [123]:
queue

deque(['Eric', 'John', 'Michael', 'Jack'])

In [124]:
queue.append("Gary")

In [125]:
queue

deque(['Eric', 'John', 'Michael', 'Jack', 'Gary'])

In [126]:
queue.popleft()

'Eric'

In [127]:
queue.popright()

AttributeError: 'collections.deque' object has no attribute 'popright'

In [128]:
queue.pop()

'Gary'

In [129]:
queue

deque(['John', 'Michael', 'Jack'])

In [130]:
queue.sort()

AttributeError: 'collections.deque' object has no attribute 'sort'

In [131]:
squares = [x**2 for x in range(10)]

In [132]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [133]:
[(x, y) for x in [1, 2, 3] for y in [3, 1, 4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [137]:
combs = []
for x in range(1, 4):
    for y in [3, 1, 4]: 
        if x != y:
            combs.append((x, y))

In [138]:
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [136]:
list(range(1, 3))

[1, 2]

In [139]:
vec = [-4, -2, 0, 2, 4]

In [140]:
vec.sort()

In [141]:
vec

[-4, -2, 0, 2, 4]

In [142]:
[x for x in vec if x >=0]

[0, 2, 4]

In [144]:
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [145]:
 freshfruit = [' banana', ' loganberry ', 'passion fruit ']

In [146]:
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [147]:
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [148]:
[x, x**2 for x in range(6)]

SyntaxError: invalid syntax (<ipython-input-148-a4841c5cdd7d>, line 1)

In [150]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [151]:
matrix = [
    [1, 2, 3, 4], 
    [5, 6, 7, 8], 
    [9, 10, 11, 12]
]

In [152]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [153]:
transposed = []
for i in range(4): 
    transposed_row = []
    for row in matrix: 
        transposed_row.append(row[i])
    transposed.append(transposed_row)
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [154]:
a

[-1, 1, 66.25, 333, 333]

In [155]:
del(a)

In [156]:
a

NameError: name 'a' is not defined

In [159]:
a = [-1, 1, 66.25, 333, 333]

In [160]:
del(a[0])

In [161]:
a

[1, 66.25, 333, 333]

In [162]:
del(a[:])
a

[]

In [163]:
t = 12345, 23456, 'the'

In [164]:
t

(12345, 23456, 'the')

In [165]:
u = t, (1, 2, 3, 4, 5)
u

((12345, 23456, 'the'), (1, 2, 3, 4, 5))

In [166]:
t[0] = 1

TypeError: 'tuple' object does not support item assignment

In [167]:
u[0]

(12345, 23456, 'the')

In [168]:
u[0] = 99

TypeError: 'tuple' object does not support item assignment

In [169]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
'orange' in basket

True

In [170]:
a = set(basket)

In [171]:
a

{'apple', 'banana', 'orange', 'pear'}

In [172]:
basket.index('apple')

AttributeError: 'set' object has no attribute 'index'

In [173]:
a = set('aracberdw')

In [174]:
b = set('alacazam')

In [175]:
a, b

({'a', 'b', 'c', 'd', 'e', 'r', 'w'}, {'a', 'c', 'l', 'm', 'z'})

In [176]:
a + b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [177]:
a - b

{'b', 'd', 'e', 'r', 'w'}

In [178]:
a^b
a|b
a&b

{'a', 'c'}

In [179]:
a^c

NameError: name 'c' is not defined

In [180]:
a^b

{'b', 'd', 'e', 'l', 'm', 'r', 'w', 'z'}

In [181]:
a|b

{'a', 'b', 'c', 'd', 'e', 'l', 'm', 'r', 'w', 'z'}

In [182]:
a&b

{'a', 'c'}

In [183]:
a = {x for x in a if x not in 'abc'}

In [184]:
a

{'d', 'e', 'r', 'w'}

In [185]:
 tel = {'jack': 4098, 'sape': 4139}

In [186]:
tel.keys()

dict_keys(['jack', 'sape'])

In [187]:
tel.values()

dict_values([4098, 4139])

In [188]:
tel

{'jack': 4098, 'sape': 4139}

In [189]:
4139 in tel

False

In [190]:
'guido' in tel

False

In [191]:
'jack' in tel

True

In [192]:
dict(tel)

{'jack': 4098, 'sape': 4139}

In [193]:
[x : x**2 in range(6)]

SyntaxError: invalid syntax (<ipython-input-193-4ed0046c894e>, line 1)

In [198]:
{x: x**2 for x in  (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [200]:
{x: x**2 for x in range(1, 4)}

{1: 1, 2: 4, 3: 9}

In [201]:
dicta = dict(spae = 4139, guido = 1234, jack = 4098)

In [202]:
dicta

{'spae': 4139, 'guido': 1234, 'jack': 4098}

In [203]:
dicta.type()

AttributeError: 'dict' object has no attribute 'type'

In [204]:
dicta.__type__()

AttributeError: 'dict' object has no attribute '__type__'

In [207]:
for k, v in dicta.items():
    print(k, v)

spae 4139
guido 1234
jack 4098

In [208]:
for k, v in enumerate(dicta): 
    print(k, v)

0 spae
1 guido
2 jack

In [209]:
a, b, c = True, True, True

In [210]:
a and b and c

True

In [211]:
a, b, c = True, False, True

In [212]:
a and b and c

False

In [213]:
str1, str2, str3 = "", "jack", "sa"

In [214]:
str1

''

In [216]:
non_null = str1 or str2 or str3

In [217]:
non_null

'jack'

In [227]:
import fibo
fibo.fib(1000)

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

In [225]:
fibo.fib2(100)

In [226]:
n = fibo.fib2(100)

In [228]:
import fibo 
fibo.fib2(100)

In [229]:
def fib2(n) : 
    result = []
    a, b = 0, 1
    while b < n:
        result.append(b)
        a, b = b, a + b
    # print()
    return result

In [230]:
fib2(10)

[1, 1, 2, 3, 5, 8]

In [231]:
import fibo 
fibo.fib2(10)

In [232]:
n = fibo.fib2(10)

In [233]:
n

In [234]:
fibo.__name__

'fibo'

In [235]:
fib = fibo.fib(500)

1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [236]:
fib

In [237]:
list(fib)

TypeError: 'NoneType' object is not iterable

In [238]:
dir(fibo)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'fib',
 'fib2']

In [239]:
dir(sys)

NameError: name 'sys' is not defined

In [240]:
import sys

In [244]:
#dir(sys)

In [245]:
#dir()

In [246]:
#dir(num)