In [8]:
import pandas as pd
data = [[110, 105, 99], [105, 88, 115], [109, 120, 130]]
index = [1, 2, 3]
columns = ['语文', '数学', '英语']
df = pd.DataFrame(data = data, index = index, columns = columns)
df

    语文   数学   英语
1  110  105   99
2  105   88  115
3  109  120  130

In [9]:
df['总成绩'] = df.sum(axis = 1)
df

    语文   数学   英语  总成绩
1  110  105   99  314
2  105   88  115  308
3  109  120  130  359

In [12]:
data = [[110, 105, 99], [105, 88, 115], [109, 120, 130], [112, 115]]
index = [1, 2, 3, 4]
df = pd.DataFrame(data = data, index = index, columns = columns)
new = df.mean()
df = df.append(new, ignore_index = True)
df

      语文     数学          英语
0  110.0  105.0   99.000000
1  105.0   88.0  115.000000
2  109.0  120.0  130.000000
3  112.0  115.0         NaN
4  109.0  107.0  114.666667

In [14]:
new = df.max()
new

语文    112.0
数学    120.0
英语    130.0
dtype: float64

In [15]:
df = df.append(new, ignore_index = True)
df

      语文     数学          英语
0  110.0  105.0   99.000000
1  105.0   88.0  115.000000
2  109.0  120.0  130.000000
3  112.0  115.0         NaN
4  109.0  107.0  114.666667
5  112.0  120.0  130.000000

In [16]:
df.median()

语文    109.5
数学    111.0
英语    115.0
dtype: float64

In [17]:
df.mode()

      语文     数学     英语
0  109.0  120.0  130.0
1  112.0    NaN    NaN

In [18]:
df['数学'].mode()

0    120.0
dtype: float64

In [19]:
df.mode(axis = 1)

       0      1           2
0   99.0  105.0  110.000000
1   88.0  105.0  115.000000
2  109.0  120.0  130.000000
3  112.0  115.0         NaN
4  107.0  109.0  114.666667
5  112.0  120.0  130.000000

In [20]:
df.var()

语文      6.700000
数学    147.766667
英语    167.188889
dtype: float64

In [21]:
df.var(axis = 1)

0     30.333333
1    186.333333
2    110.333333
3      4.500000
4     15.814815
5     81.333333
dtype: float64

In [22]:
df.std()

语文     2.588436
数学    12.155931
英语    12.930154
dtype: float64

In [24]:
data = [120, 89, 98, 78, 65, 102, 112, 56, 79, 45]
columns = ['数学']
df = pd.DataFrame(data = data, columns = columns)
x = df['数学'].quantile(0.35)
df[df['数学'] <= x]

   数学
3  78
4  65
7  56
9  45

In [26]:
# 4.2 数据格式化
import numpy as np
df = pd.DataFrame(np.random.random([5, 5]), columns = ['A1', 'A2', 'A3', 'A4', 'A5'])
print(df)
print(df.round(2))
print(df.round({'A1': 1, 'A2' : 2}))
s1 = pd.Series([1, 0, 2], index = ['A1', 'A2', 'A3'])
print(s1)
print(df.round(s1))

         A1        A2        A3        A4        A5
0  0.436070  0.040015  0.474942  0.038947  0.622480
1  0.393006  0.943587  0.177929  0.777787  0.871036
2  0.611159  0.968908  0.518590  0.427581  0.516033
3  0.588239  0.158838  0.883600  0.563898  0.097906
4  0.981789  0.939891  0.848693  0.175349  0.995041
     A1    A2    A3    A4    A5
0  0.44  0.04  0.47  0.04  0.62
1  0.39  0.94  0.18  0.78  0.87
2  0.61  0.97  0.52  0.43  0.52
3  0.59  0.16  0.88  0.56  0.10
4  0.98  0.94  0.85  0.18  1.00
    A1    A2        A3        A4        A5
0  0.4  0.04  0.474942  0.038947  0.622480
1  0.4  0.94  0.177929  0.777787  0.871036
2  0.6  0.97  0.518590  0.427581  0.516033
3  0.6  0.16  0.883600  0.563898  0.097906
4  1.0  0.94  0.848693  0.175349  0.995041
A1    1
A2    0
A3    2
dtype: int64
    A1   A2    A3        A4        A5
0  0.4  0.0  0.47  0.038947  0.622480
1  0.4  1.0  0.18  0.777787  0.871036
2  0.6  1.0  0.52  0.427581  0.516033
3  0.6  0.0  0.88  0.563898  0.097906
4  1.0  1.0  0.85  0.175349  0.995041

In [28]:
df['百分比'] = df['A1'].apply(lambda x : format(x, '.2%'))
df

         A1        A2        A3        A4        A5     百分比
0  0.436070  0.040015  0.474942  0.038947  0.622480  43.61%
1  0.393006  0.943587  0.177929  0.777787  0.871036  39.30%
2  0.611159  0.968908  0.518590  0.427581  0.516033  61.12%
3  0.588239  0.158838  0.883600  0.563898  0.097906  58.82%
4  0.981789  0.939891  0.848693  0.175349  0.995041  98.18%

In [29]:
df['百分比'] = df['A1'].map(lambda x: '{:.0%}'.format(x))
df

         A1        A2        A3        A4        A5  百分比
0  0.436070  0.040015  0.474942  0.038947  0.622480  44%
1  0.393006  0.943587  0.177929  0.777787  0.871036  39%
2  0.611159  0.968908  0.518590  0.427581  0.516033  61%
3  0.588239  0.158838  0.883600  0.563898  0.097906  59%
4  0.981789  0.939891  0.848693  0.175349  0.995041  98%

In [35]:
df = pd.read_csv('JD.csv', encoding = 'gbk')
df1 = df[['一级分类', '7天点击量', '订单预定']]
df1.groupby('一级分类').sum()

            7天点击量  订单预定
一级分类
数据库           186    15
移动开发          261     7
编程语言与程序设计    4280   192
网页制作/Web技术    345    15

In [38]:
df1 = df[['一级分类', '7天点击量', '订单预定']]
for name, group in df1.groupby('一级分类'): 
    print(name)
    print(group)

数据库
   一级分类  7天点击量  订单预定
25  数据库     58     2
27  数据库    128    13
移动开发
    一级分类  7天点击量  订单预定
10  移动开发     85     4
19  移动开发     32     1
24  移动开发     85     2
28  移动开发     59     0
编程语言与程序设计
         一级分类  7天点击量  订单预定
0   编程语言与程序设计     35     1
1   编程语言与程序设计     49     0
2   编程语言与程序设计     51     2
3   编程语言与程序设计     64     1
4   编程语言与程序设计     26     0
5   编程语言与程序设计     60     1
6   编程语言与程序设计    227    11
8   编程语言与程序设计    122     3
9   编程语言与程序设计    111     5
11  编程语言与程序设计    165     5
12  编程语言与程序设计    131     1
13  编程语言与程序设计    149    10
15  编程语言与程序设计   1139    79
16  编程语言与程序设计    125     1
18  编程语言与程序设计    149     4
20  编程语言与程序设计     52     1
21  编程语言与程序设计    597    25
22  编程语言与程序设计    474    15
23  编程语言与程序设计     83     3
26  编程语言与程序设计    132     8
29  编程语言与程序设计     27     2
30  编程语言与程序设计    239    13
31  编程语言与程序设计     45     1
32  编程语言与程序设计     28     0
网页制作/Web技术
          一级分类  7天点击量  订单预定
7   网页制作/Web技术    100     7
14  网页制作/Web技术    188     8
17  网页制作/Web技术     57     0

In [39]:
df1.groupby('一级分类').agg(['mean', 'sum'])

                 7天点击量        订单预定
                  mean   sum  mean  sum
一级分类
数据库          93.000000   186  7.50   15
移动开发         65.250000   261  1.75    7
编程语言与程序设计   178.333333  4280  8.00  192
网页制作/Web技术  115.000000   345  5.00   15