In [8]:
import pandas as pd
data = [[110, 105, 99], [105, 88, 115], [109, 120, 130]]
index = [1, 2, 3]
columns = ['语文', '数学', '英语']
df = pd.DataFrame(data = data, index = index, columns = columns)
df

    语文   数学   英语
1  110  105   99
2  105   88  115
3  109  120  130

In [9]:
df['总成绩'] = df.sum(axis = 1)
df

    语文   数学   英语  总成绩
1  110  105   99  314
2  105   88  115  308
3  109  120  130  359

1     942
2     924
3    1077
dtype: int64