In [2]:
import pandas as pd
pd.set_option('display.unicode.east_asian_width', True)
df1 = pd.DataFrame({'编号': ['mr001', 'mr002', 'mr003', 'mr001', 'mr001'], 
                   '体育':[34.5, 39.7, 38, 33, 35]})
df2 = pd.DataFrame({'编号': ['mr001', 'mr002', 'mr003', 'mr003', 'mr003'], 
                   '语文': [110, 105, 109, 110, 108], 
                   '数学': [105, 88, 120, 123, 119], 
                   '英语': [99, 115, 130, 109, 128]})
print(df1)
print(df2)

    编号  体育
0  mr001  34.5
1  mr002  39.7
2  mr003  38.0
3  mr001  33.0
4  mr001  35.0
    编号  语文  数学  英语
0  mr001   110   105    99
1  mr002   105    88   115
2  mr003   109   120   130
3  mr003   110   123   109
4  mr003   108   119   128

In [5]:
df_merge = pd.merge(df1, df2)
df_merge

    编号  体育  语文  数学  英语
0  mr001  34.5   110   105    99
1  mr001  33.0   110   105    99
2  mr001  35.0   110   105    99
3  mr002  39.7   105    88   115
4  mr003  38.0   109   120   130
5  mr003  38.0   110   123   109
6  mr003  38.0   108   119   128